.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color:  #27ae60;
    }
    
    .nav{ grid-area: 1 / 1 / 2 / 2; 
    background-color: aqua;
    
    }
    .header { grid-area: 1 / 2 / 2 / 5; 
    background-color: black;}

    .aside { grid-area: 2 / 1 / 4 / 2; 
    background-color: brown;}
    .footer { grid-area: 4 / 1 / 5 / 5; 
      
    background-color: blueviolet;}
    .main { grid-area: 2 / 2 / 4 / 5; 
        background-image: url('../img/Ecoharmony.png');
        background-size: cover;
        background-repeat: no-repeat;
 }
