.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #27ae60;
}

.nav {
    grid-area: 1 / 1 / 2 / 2;
    background-color: aqua;



}

.header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: black;
}

.aside {
    grid-area: 2 / 1 / 4 / 2;

    background-color: brown;
}

.footer {
    grid-area: 4 / 1 / 5 / 5;

    background-color: blueviolet;
}

.main {
    grid-area: 2 / 2 / 4 / 5;
    background-image: url('../img/Ecoharmony.png');
    background-size: cover;
    background-repeat: no-repeat;
}




.parent2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #27ae60;
}

.nav2 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: khaki;
}

.header2 {
    grid-area: 1 / 4 / 2 / 7;
    background-color: darkkhaki;
}

.div {
    grid-area: 2 / 1 / 4 / 7;
    background-color: darkorchid;
}

.main2 {
    grid-area: 4 / 1 / 6 / 7;
    background-color: blueviolet;

}

.footer2 {
    grid-area: 6 / 1 / 7 / 7;
    background-color: chocolate;
}







.parent3 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #27ae60;

}

.nav3 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header3 {
    grid-area: 1 / 2 / 2 / 5;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer3 {
    grid-area: 6 / 1 / 7 / 6;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main3 {
    grid-area: 2 / 1 / 6 / 7;
    background-color: #27ae60;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.card1 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: black;
    background-image: url('../misc/panels.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    position: relative;
}


.card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card1:hover::before {
    opacity: 1;
}


.card1:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}








.card2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: aqua;
    border-radius: 40px;
    background-image: url('../misc/vecteezy_tropical-climate-below-a-multi-colored-seascape-adventure_25117778.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}


.card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card2:hover::before {
    opacity: 1;
}


.card2:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.card3 {
    grid-area: 2 / 3 / 4 / 4;
    background-color: chartreuse;
    border-radius: 40px;
    background-image: url('../misc/reptile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card3:hover::before {
    opacity: 1;
}

.card3:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.card4 {
    grid-area: 2 / 4 / 4 / 5;
    background-color: darkgrey;
    border-radius: 40px;
    position: relative;
background-image: url('../misc/pexels-alleksana-4113655.jpg');
background-size: contain;
background-repeat: repeat;
}

.card4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card4:hover::before {
    opacity: 1;
}

.card4:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.card5 {
    grid-area: 2 / 5 / 4 / 6;
    background-color: goldenrod;
    border-radius: 40px;
    position: relative;
   
}
.card5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card5:hover::before {
    opacity: 1;
}

.card5:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}


.card6 {
    grid-area: 6 / 1 / 4 / 3;
    background-color: lightgreen;
    border-radius: 40px;
    background-image: url('../misc/alberta-2297204_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.card6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card6:hover::before {
    opacity: 1;
}

.card6:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}

.card7 {
    grid-area: 6 / 3 / 4 / 5;
    background-color: lightskyblue;
    border-radius: 40px;
    background-image: url('../misc/mountain-landscape-2031539_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.card7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card7:hover::before {
    opacity: 1;
}

.card7:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}


.card8 {
    grid-area: 6 / 5 / 4 / 6;
    background-color: sienna;
    border-radius: 40px;
    position: relative;
}
.card8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card8:hover::before {
    opacity: 1;
}

.card8:hover::after {
    content: "Your Text Here";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}
