.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #27ae60;
}

.nav {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #009C76;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:larger;

}

.header {
    grid-area: 1 / 2 / 2 / 5;
    background-color: #009C76;
}

.aside {
    grid-area: 2 / 1 / 4 / 2;

    background-color: #27AE60;
}

.footer {
    grid-area: 4 / 1 / 5 / 5;

    background-color: #009C76;
    align-items: center;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    line-height: 6em;


}

.main {
    grid-area: 2 / 2 / 4 / 5;
    background-image: url('../img/Ecoharmony.png');
    background-size: cover;
    background-repeat: no-repeat;
}




.parent2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #27ae60;
}

.nav2 {
    grid-area: 1 / 1 / 2 / 4;
    background-color: #009C76;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:larger;
}

.header2 {
    grid-area: 1 / 4 / 2 / 7;
    background-color: #009C76;
    font-size:larger;
}

.div {
    grid-area: 2 / 1 / 4 / 7;
    background-color: #27ae60;
}

.main2 {
    grid-area: 4 / 1 / 6 / 7;
    background-color: #27ae60;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.footer2 {
    grid-area: 6 / 1 / 7 / 7;
    background-color: #009C76;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    line-height: 5em;
}







.parent3 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #009C76;


}

.nav3 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #009C76;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:larger;

}

.header3 {
    grid-area: 1 / 2 / 2 / 5;
    background-color: #009C76;
    display: flex;
    align-items: flex-start;
    top: 0;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:larger;
}

.footer3 {
    grid-area: 6 / 1 / 7 / 6;
    background-color: #009C76;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'EB Garamond', serif;
    font-size: xx-large;
    font-weight: 600;

    
}

.main3 {
    grid-area: 2 / 1 / 6 / 7;
    background-color: #27ae60;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.card1 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: black;
    background-image: url('../misc/panels.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}


.card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card1:hover::before {
    opacity: 1;
}


.card1:hover::after {
    content: "Solar panels is a great source of renewable energy that is both good for your wallet in the long run aswell as having zero emissions during it's use, if you do not use all the electicity you produce then you can store it or sell it to your neighbours. So invest in solarpanels today for a brighter and emission free world ";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;

}








.card2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: aqua;
    border-radius: 40px;
    background-image: url('../misc/vecteezy_tropical-climate-below-a-multi-colored-seascape-adventure_25117778.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}


.card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card2:hover::before {
    opacity: 1;
}


.card2:hover::after {
    content: "Navigating the sea responsibly contributes to a healthier planet. Instead choose eco-friendly boating practices, such as electric or solar-powered vessels, helps minimize carbon emissions. By choosing sustainable modes of marine transportation, you can enjoy the sea responsibly, aligning your aquatic adventures with a commitment to a greener, climate-friendly lifestyle.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;

}

.card3 {
    grid-area: 2 / 3 / 4 / 4;
    background-color: chartreuse;
    border-radius: 40px;
    background-image: url('../misc/reptile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

.card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card3:hover::before {
    opacity: 1;
}

.card3:hover::after {
    content: "    Living green extends a helping hand to our fellow inhabitants, the animals. Just as a lizard adapts seamlessly to its environment, embracing an eco-friendly lifestyle supports biodiversity and animal well-being. Reduce your ecological footprint, and foster a habitat where both humans and creatures thrive. Opt for a green life today, creating a harmonious balance that benefits not only us but also the diverse wildlife we share our planet with.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;
}

.card4 {
    grid-area: 2 / 4 / 4 / 5;
    background-color: darkgrey;
    border-radius: 40px;
    position: relative;
    background-image: url('../misc/pexels-alleksana-4113655.jpg');
    background-size: contain;
    background-repeat: repeat;
    overflow: hidden;
}

.card4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;

}

.card4:hover::before {
    opacity: 1;
}

.card4:hover::after {
    content: "  Embrace the power of recycling, transforming waste into a valuable resource. Much like a chameleon adapts to its surroundings, recycling allows us to adapt and thrive in a changing world. By recycling, we reduce waste, conserve resources, and contribute to a more sustainable future. Let's emulate nature's efficient cycle—recycle today for a brighter, greener tomorrow.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;
}

.card5 {
    grid-area: 2 / 5 / 4 / 6;
    background-color: goldenrod;
    border-radius: 40px;
    position: relative;
    background-image: url('../misc/pexels-lisa-fotios-1395958.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card5:hover::before {
    opacity: 1;
}

.card5:hover::after {
    content: " Nourish your body and the planet through mindful food choices. Just as a bee plays a crucial role in pollination, your food decisions impact the ecosystem. Opt for locally sourced, organic produce to support sustainable agriculture. By making thoughtful choices, you not only prioritize your health but also contribute to a thriving, environmentally friendly food system. Cultivate a plate that's both delicious and green for a healthier you and a happier planet.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;

}

.card6 {
    grid-area: 6 / 1 / 4 / 3;
    background-color: lightgreen;
    border-radius: 40px;
    background-image: url('../misc/alberta-2297204_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.card6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;
}

.card6:hover::before {
    opacity: 1;
}

.card6:hover::after {
    content: "Behold the mountains, guardians of nature's balance. Their serene grandeur teaches us about coexistence and sustainability. Like the mountains, find your equilibrium in living green. Embrace eco-conscious choices, and let your daily actions create a harmonious rhythm with the environment. Together, we can cultivate a healthier world, mirroring the steadfastness and vitality of the mountains.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 600px;
}

.card7 {
    grid-area: 6 / 3 / 4 / 5;
    background-color: lightskyblue;
    border-radius: 40px;
    background-image: url('../misc/mountain-landscape-2031539_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.card7::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;

}

.card7:hover::before {
    opacity: 1;
}

.card7:hover::after {
    content: "Embark on a green adventure as invigorating as a mountain hike. Just as the trail winds through the peaks, embrace an eco-friendly lifestyle that leads to greater well-being. Hiking is not only a physical journey but a metaphor for the sustainable path we tread. Immerse yourself in the beauty of nature, and let each step be a commitment to a greener, healthier life.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 600px;

}


.card8 {
    grid-area: 6 / 5 / 4 / 6;
    background-color: sienna;
    border-radius: 40px;
    position: relative;
    background-image: url('../misc/pexels-karol-d-582486.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.card8::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 40px;

}

.card8:hover::before {
    opacity: 1;
}

.card8:hover::after {
    content: "Bask in the lush embrace of grassy landscapes, where every blade is a symbol of potential change. Just as grass undergoes cycles of growth, you too can foster positive transformations. Cultivate a lifestyle that aligns with nature's rhythm—making sustainable choices, growing towards greener pastures. Let the verdant meadows inspire a commitment to living healthy and green, where every small change contributes to a flourishing environment.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;

    font-family:Helvetica, sans-serif;
    overflow-y: scroll;
    max-height: 200px;
    width: 400px;
}





a {
    text-decoration: none;
    font-size: 200%;
    color: black;
}

body {
    background-color: #27ae60;
}

form {
    background-color: #008781;

    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}


input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}


button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
}

#textaside {
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    color: black;

}

#titleaside {

    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
}

#textmain {
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    width: 80%;
}

#titlemain {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:
        40px;
    color: black;
}

#titlediv {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size:40px;
    color: black;
}

#textdiv {
    font-family:Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    
}




.h2 {
    color: springgreen;
    text-align: center;
    line-height: 25em;
    transition: opacity 0.5s ease;
}

.h2:hover {
    opacity: 0;
}